<div class="container animated fadeIn fast">
  <!-- ---------------------------Primer row encabezado----------------------- -->
  <div class="row">
    <div class="col-sm-12">
      <h2>Administracion de archivos</h2>
      <p class="text-justify w-75">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam est
        aspernatur laudantium itaque neque nemo velit voluptate. Accusamus animi
        exercitationem laboriosam, unde eaque est corporis ex dicta et tempore
        explicabo.
      </p>
    </div>
  </div>
  <!-- ----------------------------Segundo row Botones------------------------ -->
  <div class="row">
    <div class="col-sm-8">
      <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-dark" (click)="backClicked()">
          Atras
        </button>
        <button
          type="button"
          class="btn btn-dark"
          [routerLink]="['/fotos', 'avance', obraId]"
        >
          Fotos
        </button>
      </div>
    </div>
  </div>
  <!-- ------------------------------Tercer row Tabla--------------------------- -->
  <div class="row">
    <div class="col-sm-12">
        <table class="table align-items-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo de archivo</th>
              <th scope="col" class="centered">Archivo cargado</th>
              <th scope="col" class="centered">Guardar</th>
              <th scope="col" class="centered">Descargar</th>
              <th scope="col" class="centered">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of obras; let i = index"> -->
            <tr>
              <th scope="row">1</th>
              <td>Anticipo</td>
              <td class="check centered">
                <button 
                  type="button"
                  [ngClass]="{
                  'btn-success' : anticipo === true,
                  'btn-secondary' : anticipo === false
                  }" 
                  class="btn ">
                    <i 
                      [ngClass]="{
                        'fa-check-square' : anticipo === true,
                        'fa-square' : anticipo === false
                      }"
                  class="far"></i>
                </button>
              </td>
              <td class="button centered">
                <button 
                        (click)="saveClick('anticipo')"
                        class="btn btn-dark"
                        data-toggle="modal" 
                        data-target="#pdfModal"
                >
                  <i class="far fa-save"></i>
                </button>
              </td>
              <td class="button centered">
                <button 
                  class="btn btn-dark" 
                  (click)="downloadClicked('anticipo')">
                  <i class="fas fa-download"></i>
                </button>
              </td>
              <td class="button centered">
                <button 
                  (click)="delClicked('anticipo')"
                  class="btn btn-dark">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <!-- ------------------------------- -->
            <tr>
                <th scope="row">2</th>
                <td>Contrato</td>
                <td class="check centered">
                  <button type="button"
                   [ngClass]="{
                    'btn-success' : contrato === true,
                    'btn-secondary' : contrato === false
                   }" 
                   class="btn ">
                    <i 
                    [ngClass]="{
                      'fa-check-square' : contrato === true,
                      'fa-square' : contrato === false
                    }"
                    class="far fa-check-square"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-save"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="fas fa-download"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Estimacion unica y finiquito</td>
                <td class="check centered">
                  <button type="button"
                   [ngClass]="{
                    'btn-success' : euf === true,
                    'btn-secondary' : euf === false
                   }" 
                   class="btn ">
                    <i 
                    [ngClass]="{
                      'fa-check-square' : euf === true,
                      'fa-square' : euf === false
                    }"
                    class="far fa-check-square"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-save"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="fas fa-download"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Acta de entrega</td>
                <td class="check centered">
                  <button type="button"
                   [ngClass]="{
                    'btn-success' : acta_entrega === true,
                    'btn-secondary' : acta_entrega === false
                   }" 
                   class="btn ">
                    <i 
                    [ngClass]="{
                      'fa-check-square' : acta_entrega === true,
                      'fa-square' : acta_entrega === false
                    }"
                    class="far fa-check-square"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-save"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="fas fa-download"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Bitacora</td>
                <td class="check centered">
                  <button type="button"
                   [ngClass]="{
                    'btn-success' : bitacora === true,
                    'btn-secondary' : bitacora === false
                   }" 
                   class="btn ">
                    <i 
                    [ngClass]="{
                      'fa-check-square' : bitacora === true,
                      'fa-square' : bitacora === false
                    }"
                    class="far fa-check-square"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-save"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="fas fa-download"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Finiquito</td>
                <td class="check centered">
                  <button type="button"
                   [ngClass]="{
                    'btn-success' : finiquito === true,
                    'btn-secondary' : finiquito === false
                   }" 
                   class="btn ">
                    <i 
                    [ngClass]="{
                      'fa-check-square' : finiquito === true,
                      'fa-square' : finiquito === false
                    }"
                    class="far fa-check-square"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-save"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="fas fa-download"></i>
                  </button>
                </td>
                <td class="button centered">
                  <button class="btn btn-dark">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            
          </tbody>
        </table>
    </div>
  </div>
</div>

<!-- ########################################################### -->
<!-- ----------------------MODAL-------------------------------- -->
<!-- ########################################################### -->

<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog"
  aria-labelledby="pdfModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pdfModalLabel">Guardar un nuevo archivo PDF</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <!----------------------------Componente a mostrar---------------------------------  -->
        <app-nuevo-pdf (changeStauts)="actualizaEstado( $event )" [tipoArchivo]="tipoArchivo" ></app-nuevo-pdf>
      <!---------------------------------------------------------------------------------  -->
      </div>
    </div>
  </div>
</div>