<div class="container animated fadeIn fast">
  <div class="row">
    <div class="col-sm-12">
        <h2> Administracion de archivos </h2>
        <p class="text-justify w-75">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam est aspernatur laudantium itaque neque nemo velit voluptate. Accusamus animi exercitationem laboriosam, unde eaque est corporis ex dicta et tempore explicabo.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark" (click)="backClicked()">Atras</button>
          <button type="button" class="btn btn-dark" [routerLink]="['/fotos', 'avance', obraId]" >Fotos</button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

        <table class="table animated fadeIn fast">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo de archivo</th>
              <th scope="col">Archivo cargado</th>
            </tr>
          </thead>
          <tbody>
              <!-- <tr *ngFor="let item of obras; let i = index"> -->
              <tr>
                <th scope="row"> 1 </th>
                <td> Anticipo</td>
                <td>
                  <div class="custom-control custom-checkbox mb-1">
                    <input  type="checkbox" 
                            class="custom-control-input" 
                            id="customControlValidation1"
                            formControlName="anticipo"
                            name="anticipo"
                            >
                    <label class="custom-control-label" for="customControlValidation1"> </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row"> 2 </th>
                <td> Contrato</td>
                <td>
                  <div class="custom-control custom-checkbox mb-1">
                    <input  type="checkbox" 
                            class="custom-control-input" 
                            id="customControlValidation2"
                            formControlName="contrato"
                            name="contrato"
                            >
                    <label class="custom-control-label" for="customControlValidation2"> </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row"> 3 </th>
                <td> Estimacion unica y finiquito</td>
                <td>
                  <div class="custom-control custom-checkbox mb-1">
                    <input  type="checkbox" 
                            class="custom-control-input" 
                            id="customControlValidation3"
                            formControlName="euf"
                            name="euf"
                            >
                    <label class="custom-control-label" for="customControlValidation3"> </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row"> 4 </th>
                <td> Acta de entrega</td>
                <td>
                  <div class="custom-control custom-checkbox mb-1">
                    <input  type="checkbox" 
                            class="custom-control-input" 
                            id="customControlValidation4"
                            formControlName="acta_entrega"
                            name="acta_entrega"
                            >
                    <label class="custom-control-label" for="customControlValidation4"> </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row"> 5 </th>
                <td> Bitacora</td>
                <td>
                  <div class="custom-control custom-checkbox mb-1">
                    <input  type="checkbox" 
                            class="custom-control-input" 
                            id="customControlValidation5"
                            formControlName="bitacora"
                            name="bitacora"
                            >
                    <label class="custom-control-label" for="customControlValidation5"> </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row"> 6 </th>
                <td> Finiquito</td>
                <td>
                  <div class="custom-control custom-checkbox mb-1">
                    <input  type="checkbox" 
                            class="custom-control-input" 
                            id="customControlValidation6"
                            formControlName="finiquito"
                            name="finiquito"
                            >
                    <label class="custom-control-label" for="customControlValidation6"> </label>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>