<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-dark" [routerLink]="['/usuariosList']" >Lista</button>
  <button type="button" class="btn btn-dark" [routerLink]="['/nuevoUsuario']">Nuevo</button>
  <!-- <button type="button" class="btn btn-dark">Editar</button> -->
</div>
<!-- /////////////////////////////////////////////// -->

<div class="animated fadeIn fast">
    <h2>Usuarios</h2>
    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus eaque reiciendis laboriosam! Dolore dicta quod nesciunt, tempora quae iste debitis sequi doloremque quibusdam rerum labore alias, cumque nulla praesentium.
    </p>
    <!--Tabla de bootstap - con redireccion de angular - clases de estilos bootstrap
    - recorrido por la lista de usarios-->
    <table class="table animated fadeIn fast">
        <caption>Total de usuarios</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
          <tr 
            *ngFor="let item of usuarios; let i = index"
            [ngClass]="{
              'list-group-item-light': item.estado === false
            }"
          >
            <th scope="row">{{i + 1}} </th>
            <td [routerLink]="['/usuarioInfo', item._id]" routerLinkActive="router-link-active">{{item.user}}</td>
            <td [routerLink]="['/usuarioInfo', item._id]" routerLinkActive="router-link-active">{{item.nombre}}</td>
            <td [routerLink]="['/usuarioInfo', item._id]" routerLinkActive="router-link-active">{{item.tipo}}</td>
          </tr>
      </tbody>
    </table>
  </div>