<section class="container" id="global">
  <!--Content-->
  <div style="text-align:center">
    <h1>{{ title }}</h1>
    <img width="300" alt="Angular Logo" src="../../../assets/logo_large.png" />
    <h2>Bienvenido</h2>

    <form ngNativeValidate [formGroup]="formLogin" (ngSubmit)="login(formLogin)" action="#" #formUsuario="ngForm" >
      <label for="usuario">Usuario</label><br />
      <input  formControlName="usuario"
              name="usuario" 
              type="text" 
              required />
      <!-- <span>Nombre de usuario requerido</span> -->

      <br />
      <label for="pass">Contraseña</label><br />
      <input formControlName="pass"
             name="pass" 
             type="password" 
             required />
      <!-- <span>Contraseña requerida</span> -->
      <br />
      <input formControlName="recordar"
             name="recordar"
             type="checkbox">
      <Label for="recodar">Recordar</Label>
      <br />
      <input type="submit" value="Entrar" />
    </form>
  </div>
</section>

<footer>
  <a id="credito" href="https://www.freepik.es/fotos-vectores-gratis/fondo"
    >Foto de fondo creado por freepik - www.freepik.es</a
  >
</footer>
