<app-navbar></app-navbar>
<div class="animated fadeIn fast">
  <div class="container">
    <h2> Pagina de descripcion de cada obra en especifico </h2>
    <p class="text-justify w-75">
      obra-info works! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam est aspernatur laudantium itaque neque nemo velit voluptate. Accusamus animi exercitationem laboriosam, unde eaque est corporis ex dicta et tempore explicabo.
    </p>
  </div>

  <div class="list-group">
    
    <div class="container">
      <div class="row">
  
          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">Clave</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.clave_municipal}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">Nombre de la obra</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.nombre_obra}} </a>
          </div>

      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">Localidad</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.localidad}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">Meta</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.meta}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">beneficiarios_directos</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.beneficiarios_directos}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">direccion_responsable</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.direccion_responsable}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">numero_contrato</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.numero_contrato}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">fecha_contrato</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.fecha_contrato | date: 'dd/MM/y' }} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">supervisor</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.supervisor}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">tipo_ejecucion</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.tipo_ejecucion}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">programa</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.programa}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">Localidad</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.localidad}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">inversion_aprobada</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.inversion_aprobada | currency }} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">contratista</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.contratista}} </a>
          </div>
          
      </div>

      <div class="row">

          <div class="col col-sm-2 px-0">
            <a class="list-group-item list-group-item-action animated fadeIn fast">estado</a>
          </div>
          <div class="col col-sm-8 px-0">
              <a class="list-group-item list-group-item-action animated fadeIn fast list-group-item-dark"> {{obra.estado}} </a>
          </div>
          
      </div>
    </div>
  </div>

</div>