<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark" [routerLink]="['/usuariosList']" >Lista</button>
        <button type="button" class="btn btn-dark" [routerLink]="['/nuevoUsuario']">Nuevo</button>
        <!-- <button type="button" class="btn btn-dark">Editar</button> -->
</div>
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>

<form ngNativeValidate [formGroup]="formulario" (ngSubmit)="onSubmit()" action="#" #formUsuario="ngForm" >
  <label for="usuario">Usuario</label><br />
  <input  formControlName="user" 
          name="user" 
          type="text" 
          required />
  <br />

  <label for="nombre">Nombre</label><br />
  <input formControlName="nombre"
         name="nombre" 
         type="text"/>
  <br />

  <label for="apellidos">Apellidos</label><br />
  <input formControlName="apellidos"
         name="apellidos" 
         type="text"/>
  <br />
  
  <label for="pass">Contraseña</label><br />
  <input  formControlName="pass" 
          name="pass" 
          type="password" 
          required />
  <br />

  <label for="correo">Correo</label><br />
  <input formControlName="correo"
         name="correo" 
         type="email"/>
  <br />
  
  <label for="tipo">Tipo</label><br />
  <select formControlName="tipo"
          name="tipo"
          id="tipo"
          required>
                <option value="Administrador">Administrador</option>
                <option value="Supervisor">Supervisor obra</option>
                <option value="Egresos">Jefe egresos</option>
                <option value="Tesorero">Tesorero</option>
  </select>
  <br />

  <input type="submit" value="Guardar" />
</form>
