<div class="animated fadeIn fast">
    <div class="container">
      <h2> Pagina de descripcion de usuario </h2>
      <p class="text-justify w-75">
        obra-info works! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam est aspernatur laudantium itaque neque nemo velit voluptate. Accusamus animi exercitationem laboriosam, unde eaque est corporis ex dicta et tempore explicabo.
      </p>
    </div>
    <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="onSubmit()" action="#" #formUsuario="ngForm" >
        <label for="usuario">Usuario</label><br />
        <input  formControlName="user" 
                name="user" 
                type="text" 
                required />
        <br />
      
        <label for="nombre">Nombre</label><br />
        <input formControlName="nombre"
               name="nombre" 
               type="text"/>
        <br />
      
        <label for="apellidos">Apellidos</label><br />
        <input formControlName="apellidos"
               name="apellidos" 
               type="text"/>
        <br />
        
        <label for="pass">Contraseña</label><br />
        <input  formControlName="pass" 
                name="pass" 
                type="password" 
                required />
        <br />
      
        <label for="correo">Correo</label><br />
        <input formControlName="correo"
               name="correo" 
               type="email"/>
        <br />
        
        <label for="tipo">Tipo</label><br />
        <input  formControlName="tipo"
                name="tipo" 
                type="select" 
                required />
        <br />
      
        <input type="submit" value="Actualizar" />
      </form>
  </div>