<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-dark" [routerLink]="['/contratistasList']" >Lista</button>
  <button type="button" class="btn btn-dark" [routerLink]="['/nuevoContratista']">Nuevo</button>
  <!-- <button type="button" class="btn btn-dark">Editar</button> -->
</div>
<div style="text-align:center">
<h1>{{ title }}</h1>
</div>

<form ngNativeValidate [formGroup]="formulario" (ngSubmit)="onSubmit()" action="#" #formContratista="ngForm">
       <div class="col-sm-8">
                     <div class="form-group row">
                            <label for="contratista">Razon social</label><br />
                            <input  
                                   class="form-control"
                                   formControlName="razon_social" 
                                   name="razon_social" 
                                   type="text"
                                   required />
                     </div>
              
                     <div class="form-group row">
                            <label for="nombre">RFC</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="rfc"
                                   name="rfc" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="apellidos">Representante</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="representante"
                                   name="representante" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="correo">Estado</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="estado"
                                   name="estado" 
                                   type="text"/>
                     </div>

                     <div class="form-group row">
                            <label for="correo">Ciudad</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="ciudad"
                                   name="ciudad" 
                                   type="text"/>
                     </div>

                     <div class="form-group row">
                            <label for="correo">Codigo postal</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="codigo_postal"
                                   name="codigo_postal" 
                                   type="text"/>
                     </div>

                     <div class="form-group row">
                            <label for="correo">Colonia</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="colonia"
                                   name="colonia" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="correo">Calle</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="calle"
                                   name="calle" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="correo">Numero</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="numero"
                                   name="numero" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="correo">Numero interior</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="numero_int"
                                   name="numero_int" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="correo">Telefono</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="telefono"
                                   name="telefono" 
                                   type="text"/>
                     </div>
              
                     <div class="form-group row">
                            <label for="correo">Email de contacto</label><br />
                            <input 
                                   class="form-control"
                                   formControlName="contacto"
                                   name="contacto" 
                                   type="email"/>
                     </div>

              <input type="submit" value="Guardar" />
       </div>
</form>
